<div class="slider">
  <div>
    <div class="leftArrow" (click)="goToPrevious()" >❰</div>
    <div class="rightArrow" (click)="goToNext()">❱</div>
  </div>

  <div class="slide" [ngStyle]="{'background-image': getCurrentSlideUrl()}"></div>

  <div id="carousel-container" class="img-container carousel-container slide-in-top">
    <div id="carousel-prev-btn" class="rightArrowCarousel" (click)="onCarouselArrowClick('left')" >❱</div>
    <div #containerAllImg class="container-all-img carousel-inner">
        <div class="carousel-item">
        <div *ngFor="let slide of imgData; let slideIndex = index" class="img-slide">
          <img (click)="goToSlide(slideIndex)" class="content-3" src="{{slide.url}}" alt="" appDemo>
        </div>
      </div>
    </div>
    <div id="carousel-next-btn" class="leftArrowCarousel" (click)="onCarouselArrowClick('right')">❰</div>



  </div>

  <!-- <div class="dotsContainer">
    <div *ngFor="let slide of slides; let slideIndex = index" class="dot"
      (click)="goToSlide(slideIndex)">
      ●
    </div>
  </div> -->

</div>

