.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid #fff;
  background-size: cover;
  background-position: center;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -120%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -120%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrowCarousel {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 30px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrowCarousel {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 30px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 190px;
  margin: 0 auto;
}

.container-all-img {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
  left: 0%;
}

.img-container img {
  width: 200px;
  border: 5px solid #fff;
}

.img-slide {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.img-slide {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.container-all-img .rightArrowCarousel,
.container-all-img .leftArrowCarousel {
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 5%;
  transform: translateY(25%);
  font-size: 50px;
  border-radius: 50%;
  text-align: center;
  text-align: right;
  transition: ease-in-out .2s;
}

.leftArrowCarousel .d-none {
  display: none;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-inner .carousel-item {
  width: 1200px;
  display: inline-flex;
}

img, svg {
  vertical-align: middle;
  height: 100%;
  border-radius: 10px;
}

