<div class="slider">
  <div>
    <div class="leftArrow" (click)="goToPrevious()" >❰</div>
    <div class="rightArrow" (click)="goToNext()">❱</div>
  </div>

  <div class="slide" [ngStyle]="{'background-image': getCurrentSlideUrl()}"></div>



  <div (window:resize)="onResize()" id="ih-carousel-container" class="img-container ih-carousel-container slide-in-top">
    <span id="ih-carousel-prev-btn" (click)="onCarouselArrowClick('left')" class="leftArrowCarousel ih-carousel-prev-btn">
      ❰
    </span>
    <span id="ih-carousel-next-btn" (click)="onCarouselArrowClick('right')" class="rightArrowCarousel ih-carousel-next-btn">
      ❱
    </span>
    <div #ihCarouselInner class="ih-carousel-inner">
      <div>
        <!-- <div  *ngFor="let item of numberOfItems(8); let i=index;"> -->
        <!-- <div  (swipe)="onSwipe($event)"  class="ih-carousel-item"> -->
          <div class="ih-carousel-item">

          <div *ngFor="let slide of slides;  let slideIndex = index" class="img-slide">
            <img  (click)="goToSlide(slideIndex)" class="content-3" src="{{slide.url}}" alt="" appDemo>
          </div>
          <!-- <div container="body" class="circle-content-cntnr text-center">
            <div class="content-3" style="font-size:26px;">{{i + 1}}</div>
          </div> -->


        </div>
      </div>


    </div>



  </div>

  <!-- <div class="img-container">

    <div class="leftArrowCarousel" (click)="goToPreviousCarousel()" >❰</div>
    <div id="rightArrowCarousel" class="rightArrowCarousel" (click)="goToNextCarousel()">❱</div>

    <div id="container-all-img" class="container-all-img">

      <div class="img-prev text-centre" > -->

        <!-- <div class="leftArrowCarousel" (click)="goToPreviousCarousel()" >❰</div> -->
        <!-- <div *ngFor="let slide of slides;"  class="img-slide">
          <img src="{{slide.url}}" alt="" appDemo>
        </div> -->
        <!-- <div id="rightArrowCarousel" class="rightArrowCarousel" (click)="goToNextCarousel()">❱</div> -->


        <!-- <div class="img-slide active">
          <img src="/assets/images/png/img-1.jpg" alt="" appDemo>
        </div>
        <div class="img-slide">
          <img src="/assets/images/png/img-2.jpg" alt="" appDemo>
        </div>
        <div class="img-slide">
          <img src="/assets/images/png/img-3.jpg" alt="" appDemo>
        </div>
        <div class="img-slide">
          <img src="/assets/images/png/img-4.jpg" alt="" appDemo>
        </div>
        <div class="img-slide">
          <img src="/assets/images/png/img-5.jpg" alt="" appDemo>
        </div>
      </div> -->

    <!-- </div>
  </div> -->

  <!-- <div class="dotsContainer">
    <div *ngFor="let slide of slides; let slideIndex = index" class="dot"
      (click)="goToSlide(slideIndex)">
      ●
    </div>
  </div> -->

</div>
